# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# temp-es
*.tmp

# user-es
*.user
*.user.*
CMakeCache.txt

# build dir
/build

#gedit temp file
*~

#Mac Spotlight Search

.DS_Store

#astyle temp files
Thumbs.db

#doxygen
doc/html
