@import url(http://fonts.googleapis.com/css?family=Share+Tech);
@font-face
	{
	font-family:sao;
	src: url('sao.otf'),
	url('sao.otf'); /* IE9 */
	}
body{
    background-color:#444;
    font-size:18px;
    font-family:"sao";
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}

/*==>common class<==*/
.normal-text{font-family:"share tech";}
.center-text{text-align:center;}
.large-text{font-size:2em;}
.larger-text{font-size:3em;}
.shadow-text{text-shadow:1px 1px 1px rgba(0,0,0,0.8);}
/*==>common class<==*/

#head-banner{
    z-index:9999;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:32px;
    line-height:32px;
    padding:5px;
    padding-bottom:10px;
    font-size:1.4em;
    color:#eee;
    margin:0;
    background: rgba(0,0,0,0.8);
}
#banner-title{
    display:block;
    position:fixed;
    font-size:1.5em;
    top:0px;
    left:0px;
    width:130px;
    height:65px;
    line-height:65px;
    padding-left:13px;
	padding-top:0px;
	padding-bottom:0px;
    background: rgba(0,0,0,0.8);
}
#banner-title:after{
    z-index:9990;
    position:fixed;
    display:block;
    left:143px;
    top:46px;
    content:"";
    width:0px;
    height:0px;
    border-width:9px;
    border-style:solid;
    border-color:rgba(0,0,0,0.8) transparent transparent rgba(0,0,0,0.8);}
#head-banner-link{
    position:absolute;
    display:inline-block;
    width:auto;
    right:0px;
    text-align:center;
	padding-top:5px;
    padding-right:1em;
}
#banner-subtitle{
    position:fixed;
    z-index:9998;
    display:block;
    top:42px;
    left:0px;
    height:30px;
    line-height:30px;
    padding:2px 15px;
    font-size:0.8em;
    background-color:rgba(0,0,0,0.8);
    border-radius:0;
    opacity:0;
    }
#banner-subtitle:after{
    position:fixed;
    display:block;
    content:"";
    width:0px;
    height:0px;
    border:30px solid red;}
.a-effect a{
    color:#ddd;
    margin-right:0.2em;
    padding:10px;
    target:"_blank";
    transition:all 0.3s ease-in-out;
}
.a-effect a::after{
    position:relative;
    left:0;
    content:"|";
    opacity:0;
    transition:all 0.2s ease-in-out;
}
.a-effect a:hover::after{
    left:10px;
    opacity:1;
}
.a-effect a::before{
    position:relative;
    left:0;
    content:"|";
    opacity:0;
    transition:all 0.2s ease-in-out;
}
.a-effect a:hover::before{
    top:0;
    left:-10px;
    opacity:1;
}

#content{
    margin-top:100px;
}
#left-box{
    z-index:8888;
    display:flex;
    flex-direction:column;
    justify-content: center;  
    align-items: center;
    position:absolute;
    top:70px;
    left:15px;
    margin:0;
    padding:0;
    width:200px;
    list-style:none;
    outline:none;
}
.tooltip span{
    width:140px;
    height:0;
    line-height:0;
    font-size:26px;
    text-shadow:1px 1px 1px rgba(178,178,178,0.8);
    text-align:center;
    color:white;
    background-color:rgba(255,255,255,0.8);
    box-shadow:0px 0px 1px rgba(255,255,255,0.9);
    border-top:1px solid rgba(178,178,178,1);
    border-bottom:1px solid rgba(178,178,178,1);
    position:relative;
    display:block;
    left:0px;
    pointer-events: none;
    opacity:0;
    /*transition: all 0.3s ease-in-out;*/
}
.left-btn:hover span{
    color:#222;
    opacity:1;
    left:125px;
    height:1.5em;
    line-height:1.5em;
    -webkit-animation:tooltip-Animation 0.2s ease-in-out;
    animation:tooltip-Animation 0.2s ease-in-out;
}

.left-btn span:before{
    width:0px;
    height:0px;
    position:relative;
    display:block;
    top:-10px;
    left:-34px;
    content: "";
    border:0 solid rgba(0,0,0,0);
    opacity:0;
    }
.left-btn:hover span:before{
    width:0px;
    height:0px;
    position:absolute;
    display:block;
    top:12px;
    left:-34px;
    content: "";
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:12px solid transparent;
    border-right:22px solid rgba(255,255,255,0.8);
    opacity:1;
    -webkit-animation:tooltip-after-Animation 0.2s ease-in-out;
    animation:tooltip-after-Animation 0.2s ease-in-out;
    }
#left-logo{
    width: 130px;
    height:130px;
    background-image:url("cuties-scaled.png");
}
.left-btn{
    display:flex;
    flex-direction:column;
    justify-content: center;  
    align-items: center;
    width:64px;
    height:64px;
}

#home-btn{background-image:url("btn_home_normal.png")}
#home-btn:hover{background-image:url("btn_home_hover.png")}
#home-btn:active{background-image:url("btn_home_hover.png")}

#features-btn{background-image:url("btn_features.png")}
#features-btn:hover{background-image:url("#")}
#features-btn:active{background-image:url("#")}

#download-btn{background-image:url("btn_download.png")}
#download-btn:hover{background-image:url("#")}
#download-btn:avtive{background-image:url("#")}

#faq-btn{background-image:url("btn_FAQ.png")}
#faq-btn:hover{background-image:url("#")}
#faq-btn:active{background-image:url("#")}

#help-btn{background-image:url("btn_support.png")}
#help-btn:hover{background-image:url("#")}
#help-btn:active{background-image:url("#")}

.context-container{
    z-index:1;
    left:50px;
    width:80%;
    margin-left:65px;
    min-height:560px;
    padding-left:10px;
    position:absolute;
    background:rgba(255,255,255,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
}
.title{
    margin:20px 30px 30px 20px;
    text-align:right;
    font-size:2em;
    color:#333333;
}
.title:after{
    display:block;
    margin-top:5px;
    margin-left:25px;
    height:1px;
    width:auto;
    background-color:#999;
    content:"";
    box-shadow:2px 2px 2px black;
    }
#download-version{
    text-align:center;
    font-weight:400;
    font-size:2em;
    padding:0;
    margin:0;}
.download-context{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    margin-left:40px;
    margin-right:40px;
    }
.download-context-box{
    display:flex;
    flex-direction:column;
    flex-align:center;
    flex-pack:justify;
    margin-left:8px;
    margin-right:8px;
    }
.platform{
    font-size:2.5em;
    font-weight:400;
    text-shadow:1px 1px 1px #fff;
    background:rgba(255,255,255,0.9);
    box-shadow:0 0 4px rgba(255,255,255,0.9);
    padding:5px 10px;
    text-align:center;
    line-height:6em;
    height:6em;
    width:100%;
    border-radius:2%;
    margin-bottom:15px;
    }
.download-link,.installation-link{
    background:rgba(255,255,255,0.9);
    padding:5px 10px;
    margin:2px 0px;
    width:100%;
    box-shadow:0px 0px 4px rgba(255,255,255,0.9);
    border:1px solid #fff;
    }
.download-link:link,.installation-link:link{
    color:#222;
    }
.download-link:visited,.installation-link:visited{
    color:#222;}
.download-link:hover,.installation-link:hover{
    background:rgba(237,179,41,1);
    border:1px solid rgb(237,179,41);
    box-shadow:0 0 6px rgba(255,193,44,0.8);
    transition:all 0.2s ease-in-out;
}
.download-link:active,.installation-link:active{
    color:#555;
    background:rgba(255,193,44,1);
    }

@-moz-keyframes tooltip-Animation {
    0% {opacity:0;left:0;height:0;font-size:0;padding-top:-1.5em;}
    40% {opacity:1;left:125px;height:0;font-size:0;}
    100% {height:1.5em;line-height:1.5em;color:#222;}
}
@-webkit-keyframes tooltip-Animation {
    0% {opacity:0;left:0;height:0;font-size:0;padding-top:-1.5em;}
    40% {opacity:1;left:125px;height:0;font-size:0;}
    100% {height:1.5em;line-height:1.5em;color:#222;}
}
@keyframes tooltip-Animation {
    0% {opacity:0;left:0;height:0;font-size:0;padding-top:-1.5em;}
    40% {opacity:1;left:125px;height:0;font-size:0;}
    100% {height:1.5em;line-height:1.5em;color:#222;}
}
@-moz-keyframes tooltip-after-Animation {
    0% {opacity:0;top:0px;left:-34px;}
    40% {opacity:0;top:0px;left:-34px;}
    100% {opacity:1;top:12px;left:-34px;}
}
@-webkit-keyframes tooltip-after-Animation {
    0% {opacity:0;top:0px;left:-34px;}
    40% {opacity:0;top:0px;left:-34px;}
    100% {opacity:1;top:12px;left:-34px;}
}
@keyframes tooltip-after-Animation {
    0% {opacity:0;top:0px;left:-34px;}
    40% {opacity:0;top:0px;left:-34px;}
    100% {opacity:1;top:12px;left:-34px;}
}